[Desktop Entry]
Name=Noot
Comment=iPhone backup manager for Linux
Exec=/usr/bin/noot
Icon=/opt/noot/assets/icon.png
Terminal=false
Type=Application
Categories=Utility;