.venv/
*.pyc
__pycache__/**
__pycache__/
build/
dist/
releases/
wiki/
.flatpak-builder/
flatpak-builder-tools/
packages/pyinstaller/
packages/deb/noot_*
packages/flatpak/build/
packages/flatpak/repo/
packages/flatpak/.flatpak-builder/
*.deb
*.flatpak