.venv/
*.pyc
__pycache__/**
__pycache__/
build/
dist/
releases/
wiki/
.flatpak-builder/
flatpak-builder-tools/
*.deb
*.flatpak
packages/debian/noot_*
packages/pyinstaller/*
packages/flatpak/*
tmp/
packages/AppImage/Noot-x86_64.AppImage
packages/AppImage/AppDir/*
packages/AppImage/AppDir