[Desktop Entry]
Name=Noot
Comment=iPhone backup manager for Linux
Icon=io.github.samugallo06.noot
Exec=noot --gui
Terminal=false
Type=Application
Categories=Utility;